{% extends "mail/layout.html" %}

{% block body %}
<body style="background-color: aquamarine;">
    <div style="width: 400px; height: 300px;position: relative;background-color: aquamarine;left: 35%;margin-top: 8%;">
    <h2 style="text-align: center; margin-top: 30px;" >Login</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form  action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="email" name="email" placeholder="Email">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <input class="btn btn-primary" type="submit" value="Login">
    </form>

    Don't have an account? <a href="{% url 'register' %}">Register here.</a>

{% endblock %}
</div>
</body>